table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ffffff;
}

td,
th {
  text-align: right;
  padding: 15px;
  transition: 0.2s;
}

th {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.atual {
  color: #b8b8b8;
  font-size: 18px;
}

.hover {
  /* border: 0.1px solid #dddddd; */
  color: #ffffff;
}
